@tailwind base;
@tailwind components;
@tailwind utilities;

/* @if(asdfadf){

} */

@layer components {
    .clickableTextStyle {
        @apply font-bold text-[#583f72] ml-3  hover:text-textPurple transition-colors duration-200 cursor-pointer;
    }
}

/* 
#b185dd; */

/* prevent scrollbar emerge */
/* html {
  margin-left: calc(100vw - 100%);
} */

/* scrollbar style edit */
::-webkit-scrollbar {
    position: absolute;
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background-color: #ede9fe;
}
::-webkit-scrollbar-thumb {
    background-color: #583f72;
    border-radius: 5px;
}

body {
    /* background: linear-gradient(135deg, #ad9cd9, #ffdef7); */
    background: linear-gradient(135deg, #ffdef7, #bfa6ff, #ffe3e3);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* prevent ChromeAutoComplte  from changing input box inner background  */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.ql-toolbar.ql-snow {
    border: none;
}
.ql-container.ql-snow {
    border: none;
}
.ql-toolbar.ql-snow {
    border: none;
    font-size: 14px;
    line-height: 1.2;
    padding: 6px;
    margin: 0;
}

.ql-toolbar.ql-snow button {
    font-size: 14px;
    padding: 4px 8px;
    margin-right: 4px;
}

.ql-toolbar.ql-snow button:last-child {
    margin-right: 0;
}
